*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body
{
  background:url(../img/background.png);
  font-family: 'Londrina Solid', cursive;
}

.flip, .option-container
{
  margin: 0 auto;
  width: 60%;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
}

.option-container
{
  width: 70%;
  margin: 35px auto;
  background-color: #1589CA;
  font-size: 30px;
  padding: 70px 0;
  border-radius: 10px;
  border: 2px solid #033649;
}

.header-title
{
  width: 70%;
  margin: 10px auto;
  text-align: center;
  color: #033649;
  font-size: 70px;
}

#decks-table
{
  margin: -40px auto;
  text-align: center;
  color: #033649;
  font-size: 18px;
  display: none;
}

#decks-table table
{
  margin: 0 auto;
  text-align: center;
  color: #033649;
  background-color: #fff;
  font-size: 22px;
  width: 48%;
  border: 2px solid #033649;
}

#decks-table td
{
  padding: 10px 0;
  width: 150px;
}

.action-buttons {
  margin: 80px auto;
  text-align: center;
}

.start-buttons {
  text-align: center;
}

button
{
  font-family: 'Londrina Solid';
  color: #fff;
  background-color: #033649;
  font-size: 26px;
  padding: 10px 10px;
  margin: 0 10px;
  letter-spacing: 2px;
  border: 1px solid #000;
}

button:hover {
  background-color: #1589CA;
}

#select-subject, #select-num-cards{
  font-family: 'Londrina Solid';
  color: #fff;
  background: url(../img/arrow.png) no-repeat right #ddd;
  background-color: #1589CA;
  background-position: 95% 50%;
  margin: 5px 20px;
  width: 268px;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid white;
  -webkit-appearance: none;
}

.selected-deck{
  background-color: #1589CA;
}

.red {
  background-color: #BF032A;
}

.flip {
  -webkit-perspective: 800px;
  margin: 30px auto;
  width: 60%;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
  display: none;

}
.flip .card.flipped {
  transform: rotateY(180deg);
}
.flip .card {
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 2;
  text-align: center;
}
.flip .card .front {
  z-index: 1;
  background-color: #1589CA;
}
.flip .card .back {
  transform: rotateY(180deg);
  background-color: #033649;
}

.front, .back {
  border: 1px solid #033649;
}

.front, .back {
  padding: 50px 20px 0 20px;
}

.btn-oculto {
  display: none;
}